################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Razor/FileContentIndex
/.vs/Razor
/Razor/bin/*
/Razor/obj/*
